<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKous4RxoV041kKp8F8Lqj5BITDmWsyjI</string>
	<key>GCM_SENDER_ID</key>
	<string>399660227589</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chain.downloader</string>
	<key>PROJECT_ID</key>
	<string>downloader-py-bf134</string>
	<key>STORAGE_BUCKET</key>
	<string>downloader-py-bf134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399660227589:ios:5e48727d583ce30692906c</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-5159016515859793~7287898850</string>
</dict>
</plist>